@import 'tailwindcss';

@font-face {
  font-family: 'manrope';
  src: url('./src/assets/font/Manrope-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'manrope';
  letter-spacing: 0.025em;
}

@theme inline {
  --breakpoint-xs: 475px;
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

:root {
  --primary: #f9be07;
  --primary-foreground: #000000;
  --secondary: #e8e8e8;
  --secondary-foreground: #000000;
  --muted: #1e1e1e;
  --muted-foreground: #ffffff;
}

.container-layout-lg {
  @apply w-full max-w-416 mx-auto;
}

.container-layout-md {
  @apply w-full max-w-275 mx-auto;
}

.padding-layout {
  @apply px-[26px] md:px-10;
}
