@import 'tailwindcss';

@font-face {
  font-family: 'manrope';
  src: url('./src/assets/font/Manrope-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'manrope';
  src: url('./src/assets/font/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'manrope';
  src: url('./src/assets/font/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'manrope';
  src: url('./src/assets/font/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'manrope';
  src: url('./src/assets/font/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'manrope';
  src: url('./src/assets/font/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'manrope';
  src: url('./src/assets/font/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

* {
  font-family: 'manrope';
}

@theme inline {
  --breakpoint-xs: 475px;
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

:root {
  --primary: #f9be07;
  --primary-foreground: #000000;
  --secondary: #e8e8e8;
  --secondary-foreground: #000000;
  --muted: #1e1e1e;
  --muted-foreground: #ffffff;
}

.container-layout-lg {
  @apply w-full max-w-416 mx-auto;
}

.container-layout-md {
  @apply w-full max-w-275 mx-auto;
}

.padding-layout {
  @apply pl-[24px] pr-[9px] md:px-10;
}
